In [8]:
#las numeraciones inician en 0 
lista=[2*j for j in range (1,11)]
print(lista)
len(lista)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

10

In [9]:
for i in range(0,10):
    #intrucción a repetir
    print(lista[i])

2
4
6
8
10
12
14
16
18
20

In [1]:
for i in range(0,5):
    print ('wa zaaaa')

wa zaaaa
wa zaaaa
wa zaaaa
wa zaaaa
wa zaaaa

In [3]:
c=0
for i in range (1,10):
    c+=1
   # print(c)
c
n=0
while n<5:

1
2
3
4
5
6
7
8
9

9

In [5]:
import pandas as pd
import numpy as np
np.array(([1,2,3]))
pd.DataFrame({'Columna 1': [1,2,3], 'Columna 2': ['a','b','c']})

   Columna 1 Columna 2
0          1         a
1          2         b
2          3         c

In [10]:
tabla= pd.DataFrame({'Nombre':['Luis','Ana'],'Edad':[10,15]})
tabla['Género']=['m','f']
tabla['Nombre']

0    Luis
1     Ana
Name: Nombre, dtype: object

In [12]:
import sqlite3 as sql
conn =sql.connect ("Ejemplo.db")
cursor= conn.cursor()
# Creamos una tabla llamada tabla1 con tres columnas
#               -------------Lenguaje SQL-------------
cursor.execute( "CREATE TABLE tabla1(ID, nombre, edad)" )

OperationalError: table tabla1 already exists

In [ ]:
cursor.execute("INSERT INTO tabla1 VALUES(1, 'Luis', 25)")

# almacena los cambios en la base de datos
conn.commit()

In [ ]:
cursor.execute("INSERT INTO tabla1 VALUES(2, 'Lola', 13)")

# almacena los cambios en la base de datos
conn.commit()